.menu_categories {
    display: flex;
    justify-content: start;
    margin-left: 1vw;
}

.menu_categories>button {
    font-size: 2vmin;
    border: transparent;
    background-color: transparent;
    color: lightgray;
    margin-right: 1vw;
    cursor: pointer;
}

.menu_categories button.selected {
    color: black;
}