.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.message {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
}

.user-message {
  justify-content: flex-end;
}

.bot-message {
  justify-content: flex-start;
  text-align: left; /* 봇 메시지도 좌측 정렬 */
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-content {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 15px;
  max-width: 70%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap; /* 초기 메시지 줄바꿈을 유지 하는 코드*/
}

.user-message .message-content {
  background-color: #daf8da;
  align-self: flex-end;
}

.bot-message .message-content {
  align-self: flex-start;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  height: 60px; /* input-container의 높이를 고정 */
}

input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button.send-button {
  background: url("../assets/message-sendIcon.png") no-repeat center center;
  background-size: contain;
  width: 40px; /* 이미지의 너비에 맞게 설정 */
  height: 40px; /* 이미지의 높이에 맞게 설정 */
  border: none;
  cursor: pointer;
}
