.visitor-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #282c34;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.visitor-count {
  margin: 5px 0;
}

.visitor-label {
  font-weight: bold;
  margin-right: 5px;
}

.visitor-number {
  font-size: 1.2em;
}
